* { margin: 0; padding: 0; }

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(5, 1fr);
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  border: 1px solid black;
}

.sidebar {
  border: 1px solid green;
  grid-row: 1 / -1;
}

.main_content {
  border: 1px solid pink;
  grid-column: 2;
  grid-row: 2 / -1;
}